#features {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card {
    font-family: 'Asap', sans-serif;
    background: transparent;
    color: #2D343C;
    max-width: 26%;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

mat-card-title {
    text-align: center;
    color: #297AA6;
    padding-bottom: 4px;
    border-bottom: solid 1px #363636;
}

mat-card-content {
    max-width: 80%;
    margin: auto;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-card-actions a {
    font-family: 'Asap', sans-serif;
    background: #2D343C;
    color: white;
}

@media (max-width: 1000px) {

    mat-card {
        max-width: none;
    }

    #features {
        flex-direction: column;
        align-items: center;
    }


}