<div class="page-content global-font">


  <div *ngIf="loading" class="loading" >
    <mat-spinner></mat-spinner>
  </div>


  <div class="max-width-container">

    <mat-horizontal-stepper #stepper [linear]="linear">

      <mat-step [completed]="cartStep" [editable]="editable">
        <ng-template matStepLabel>YOUR CART</ng-template>

        <div class="step-content global-font">

          <review-cart (onCheckoutClick)="onCheckoutClick()"></review-cart>

        </div>

        <!--
        <div class="button-container">
          <button mat-raised-button type="button" [disabled]="cartService.cart.empty" matStepperNext>CHECKOUT</button>
        </div>
        -->

      </mat-step>

      <mat-step [completed]="checkoutComponent.dataValid" [editable]="editable">
        <ng-template matStepLabel>BILLING & SHIPPING</ng-template>

        <div class="step-content global-font">

          <app-checkout #checkoutComponent></app-checkout>

        </div>

        <div class="button-container">
          <button mat-raised-button type="button" matStepperNext>PAYMENT</button>
        </div>

      </mat-step>

      <mat-step [completed]="paymentSuccess" [editable]="editable">
        <ng-template matStepLabel>PAYMENT</ng-template>

        <div class="step-content global-font">

          <hosted-payment #paymentComponent (onFormLoaded)="onHostedFormLoaded($event)" (onTransaction)="onPaymentComplete($event)"></hosted-payment>

        </div>

      </mat-step>

      <mat-step [completed]="confirmStep">
        <ng-template matStepLabel>CONFIRMATION</ng-template>

        <div class="step-content confirmation global-font">

          <h1><strong>ORDER CONFIRMATION</strong></h1>

          <div class="content">
            <h3 *ngIf="order">Your order number is {{order.id}}.</h3>
          </div>

        </div>


      </mat-step>

    </mat-horizontal-stepper>


  </div>
</div>

<app-footer [content]="footerContent"></app-footer>
