<div class="global-font">

  <div *ngIf="devMode" class="dev-mode">

    <h3>DATA VALID: {{dataValid}}</h3>

    <div>
      <h3>BILLING</h3>
      <div>Form status: {{billingForm.status}}</div>
      <div>{{billingData.firstName + ' ' + billingData.lastName}}</div>
      <div>{{billingData.address + ' ' + billingData.city + ' ' + billingData.state + ' ' + billingData.zip}}</div>
    </div>


    <div>
      <h3>SHIPPING</h3>
      <div>Form Status: {{shippingForm.status}}</div>
      <div>{{shippingData.firstName + ' ' + shippingData.lastName}}</div>
      <div>{{shippingData.address + ' ' + shippingData.city + ' ' + shippingData.state + ' ' + shippingData.zip}}</div>
    </div>

  </div>

  <h1><strong>CHECKOUT</strong></h1>

  <div class="checkout-forms">

    <mat-card>
      <form class="billing form" [formGroup]="billingForm">
        <h4>BILLING INFORMATION</h4>

        <div [formGroup]="billingForm" class="vertical">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="FIRST NAME">
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="LAST NAME">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="address" placeholder="ADDRESS">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="city" placeholder="CITY">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="STATE" formControlName="state">
              <mat-option *ngFor="let state of states.list" [value]="state">
                {{state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="zip" placeholder="ZIP">
          </mat-form-field>

          <div class="horizontal">
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="PHONE #" >
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="email" placeholder="EMAIL" >
            </mat-form-field>
          </div>

        </div>
      </form>
    </mat-card>

    <mat-card>

      <form class="shipping form" [formGroup]="shippingForm">
        <h4>SHIPPING INFORMATION</h4>


        <div [formGroup]="shippingForm" class="vertical">

          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="FIRST NAME">
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="LAST NAME">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="address" placeholder="ADDRESS">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="city" placeholder="CITY">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="STATE" formControlName="state">
              <mat-option *ngFor="let state of states.list" [value]="state">
                {{state}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="zip" placeholder="ZIP">
          </mat-form-field>

          <mat-slide-toggle #shipToBilling color="primary" (change)="onToggleChange($event)" [checked]="shipToBilling">
            <strong>SAME AS BILLING ADDRESS</strong>
          </mat-slide-toggle>


        </div>

      </form>

    </mat-card>







  </div>

</div>

