<div class="global-font">

  <div *ngIf="searchService.inProgress" class="spinner-container">
    <mat-spinner #progress></mat-spinner>
  </div>


  <div class="page-content">
    <div class="max-width-container">


      <div class="products">

        <mat-card *ngFor="let product of searchService.searchResults.list">

          <img mat-card-image [src]="placeholderImagePath">

          <mat-card-title>{{product.suggestedRetail | nothingFree}}</mat-card-title>
          <mat-card-subtitle>{{product.brand | removeQuote}}</mat-card-subtitle>
          <mat-card-subtitle><strong>Part Number: </strong>{{product.partNumber}}</mat-card-subtitle>
          <mat-card-content>

            <div>{{product.description}}</div>
            <div class="availability">Quantity Available: <strong>{{product.quantityAvailable}}</strong></div>

          </mat-card-content>

          <mat-card-actions>
            <button *ngIf="!product.inCart" mat-raised-button (click)="addToCart(product)">ADD TO CART</button>

            <button *ngIf="product.inCart" mat-raised-button><mat-icon>check</mat-icon></button>
          </mat-card-actions>

        </mat-card>

      </div>

      <div *ngIf="pageCount > 0" id="pageNav">

        <button mat-button color="primary" (click)="searchService.previousPage()"><mat-icon>keyboard_arrow_left</mat-icon></button>

        <h4>PAGE
          <strong id="pageIndicator">{{searchService.currentPage}}</strong>
          <span>OF</span>
          <strong>{{pageCount}}</strong>
        </h4>

        <button mat-button color="primary" (click)="searchService.nextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button>

      </div>

    </div>
  </div>
  <app-footer [content]="footerContent"></app-footer>

</div>
