@import url('https://fonts.googleapis.com/css?family=Asap');

body {
    margin: 0;
}

.global-font {
    font-family: 'Asap', sans-serif;
}

.max-width-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 5vw;
}

.page-content {
  min-height: 35vh;
}
